@tailwind base;
@tailwind components;
@tailwind utilities;

.app-body-container{
  background: linear-gradient( to bottom ,rgb(86, 152, 179),rgb(145, 47, 8)) 
}
body{
  color:rgb(226, 187, 87);
}
.todo-screen 
{
  background-image: url("./components/images/todo-box-background.png");
  width: 800px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.479) ;
  transition: all 0.5s;
}
.todo-screen:hover{
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.397) ;
}

.background{
  background-image: url("./components/images/todo-box-background.png");
  filter: blur(4px);
  position: absolute;
  z-index: -9;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
}


/* Select the checkbox element */
input[type="radio"] {
  /* Hide the default checkbox */
  display: none;
}

/* Create a custom checkbox */
.task-checkbox+ label:before {
  content: "";
  width: 35px;
  height: 35px;
  border: 2px solid rgb(78, 78, 78);
  border-radius: 6px;
  transition: all 0.4s ease-in-out;
}

.task-checkbox:checked + label:before {
  border-color: rgb(167, 73, 29);
  background: url("./components/images/todo-icon.png") no-repeat center ;
  background-size:cover;
  background-position-y:0px;
  background-size: 2rem;
}

.task-checkbox + label:hover:before {
  /* Change the border color */
  border-color: rgb(167, 73, 29);
  border-radius:6px ;
}
.todo-display{
  overflow:scroll;
}
.todo-display::-webkit-scrollbar{
  width: 0px;
  height: 0px;
  background:white;
}
.completed-task-list{
  overflow:scroll;
}
.completed-task-list::-webkit-scrollbar{
  width: 0;
  height: 0;
}
.todo-list{
  color:rgb(31, 31, 31);
}
.item-no{
  color: burlywood;
}
.task-details{
  background-color:burlywood;
}
.completed-task{
  background-color: rgb(10, 68, 102);
}
.add-back{
  background: burlywood;
  color: black;
}
.sorted-tasks-container::-webkit-scrollbar{
  width: 0;
  height: 0;
}